<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		
		<property name="url"
			value="jdbc:mysql://localhost:3306/jkxyshsflower">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/flower1/model/Flower.hbm.xml</value>
				<value>com/flower1/model/Guashi.hbm.xml</value>
				<value>com/flower1/model/Orderitem.hbm.xml</value>
				<value>com/flower1/model/Orders.hbm.xml</value>
				<value>com/flower1/model/Userdetail.hbm.xml</value>
				<value>com/flower1/model/Catalog.hbm.xml</value>
				<value>com/flower1/model/User.hbm.xml</value></list>
		</property></bean>
	<bean id="catalogDAO" class="com.flower1.dao.impl.CatalogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="catalogService" class="com.flower1.service.impl.CatalogService">
		<property name="catalogDAO" ref="catalogDAO"></property>
	</bean>
	
	<bean id="flowerDAO" class="com.flower1.dao.impl.FlowerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="flowerService" class="com.flower1.service.impl.FlowerService">
		<property name="flowerDAO" ref="flowerDAO"></property>
	</bean>
	<bean id="flowerAction" class="com.flower1.action.flowerAction">
		<property name="catalogService" ref="catalogService"></property>
		<property name="flowerService" ref="flowerService"></property>
	</bean>	
	
	<bean id="userDAO" class="com.flower1.dao.impl.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userService" class="com.flower1.service.impl.UserService">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	<bean id="userAction" class="com.flower1.action.userAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id = "shoppingAction" class = "com.flower1.action.shoppingAction">
		<property name="flowerService" ref="flowerService">
		</property>
	</bean>
	<bean id="orderDAO" class="com.flower1.dao.impl.OrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="orderService" class="com.flower1.service.impl.OrderService">
		<property name="orderDAO" ref="orderDAO"></property>
	</bean>
	<bean id="orderAction" class="com.flower1.action.orderAction">
		<property name="orderService" ref="orderService"></property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /></beans>